* {
  box-sizing: border-box;
}

html body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  overflow: auto;
}

.logo h2 {
  padding-bottom: 15px;
}

.topnav {
  overflow: hidden;
  background-color: rgba(32, 49, 39, 0.9);
  display: flex;
  width: 100%;
  justify-content: center;
  position: absolute;
  z-index: 7;

}

.topnav a {
  color: #fff;
  padding: 20px 56px;
  text-decoration: none;
  font-size: 22px;
}

.topnav a:hover {
  background-color: #fff;
  color: black;
}

.topnav .icon {
  display: none;
}

.topnav .icon-close {
  display: none;
}


@media screen and (max-width: 768px) {
  .topnav a {
    display: none;
  }

  .topnav {
    display: flex;
    justify-content: flex-end;

  }

  .topnav a.icon {
    display: block;
  }

}


@media screen and (max-width: 768px) {
  .topnav.responsive {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: fixed;
    justify-content: space-between;
    padding: 50px 0;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(54, 102, 164);
    background-color: rgba(54, 102, 164, 0.8);
  }

  .topnav.responsive .icon {
    display: none;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: center;
  }
}


#fullpage {}

.section:nth-child(1) {
  background: url(img/img1.jpg);
  background-position: center;
  background-size: cover;
}

.section:nth-child(2) {
  background: url(img/img2.jpg);
  background-position: center;
  background-size: cover;
}

.section:nth-child(3) {
  background: url(img/img3.jpg);
  background-position: center;
  background-size: cover;
}

.section:nth-child(4) {
  background: url(img/img4.jpg);
  background-position: center;
  background-size: cover;
}
